{% extends 'base.html' %}
{% block content %}
    
    <h1>Clubs</h1>

    <ul>

        {% for club in clubs %}
        
            <li>
                {{ club.club_name }}
                <form action="/clubs/{{ club.id }}/edit">
                    <input type="submit" value="edit">
                </form>
                <form action="/clubs/{{ club.id }}/delete" method="POST">
                    <input type="submit" value="delete" onclick="return confirm('Are you sure?')">
                </form>
            </li>
        
        {% endfor %}

    </ul>

    <form action="/clubs/new">
        <input type="submit" value="Create new club">
    </form>

{% endblock content %}