{% extends 'base.html' %}
{% block content %}
    
    <h1>Add a new team</h1>

    <form action="/teams/{{ league.team_type }}" method="POST">
        <div>
            <label for="club">Club:</label>
            <select name="club_id" id="club">
                {% for club in clubs %}
                    <option value="{{ club.id }}">{{ club.club_name }}</option>
                {% endfor %}
            </select>
            <input type="submit">
        </div>
    </form>

{% endblock content %}