* {
    font-family: Arial, Helvetica, sans-serif;
    color: #14397d;
    list-style: none;
}

td, th {
    padding: 12px 15px;
    border: thin solid #14397d;
    border-bottom: thin solid #14397d;
}

.matches:hover {
    background-color: #EAC5D8;
}

.league-table:hover {
    background-color: #EAC5D8;
}

.table-top {
    background-color: #77b5d9;
}

.home-club {
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
}

.home-leagues {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
}

.home-league {
    margin: 50px;
    padding: 50px;
    border: thin solid #14397d;
    background-color: #77b5d9;
}

.home-league:hover {
    background-color: #14397d;
}

.home-league:hover a {
    color: #77b5d9;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
    background-color: #77b5d9;
}

header h1 {
    margin-right: auto;
    font-size: 1.5em;   
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
}

a:hover {
    color: #14397d;
}

.club-index-club {
    list-style: none;
    display: inline-block;
    padding: 30px;
    border: 10px solid #d7eaf3;
}

.button-style{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
}

.button-style:hover{
    color: #14397d;
    background-color: #d7eaf3;
}

a{
    text-decoration: none;
    color: #272727;
}

.league-show {
    display: flex;
    flex-direction: column;
}

.under-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding: 25px;
    background-color: #d7eaf3;
}

.league-clubs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.league-club {
    margin: 10px;
}

.league-fixtures {
    text-align: center;
}