{% extends 'base.html' %}
{% block content %}
    
    <h1>Edit a league</h1>

    <form action="/leagues/{{ league.id }}" method="POST">
        <div>
            <label for="league_name">League name:</label>
            <input type="text" id="league_name" name="league_name" value="{{ league.league_name }}">
            <label for="team_type">Team type:</label>
            <input type="text" id="team_type" name="team_type" value="{{ league.team_type }}">
            <input type="submit">
        </div>
    </form>

{% endblock content %}