{% extends 'base.html' %}
{% block content %}

    <h1 class="under-nav" >{{ league.league_name }}</h1>

    <div class="league-show">

        <h2>Clubs</h2>
        <ul class="league-clubs">
            {% for team in teams %}

                {% if team.team_name == league.team_type %}
                    <li class="league-club">
                        <a href="/clubs/{{ team.club.id }}">{{ team.club.club_name }}</a>
                    </li>
                {% endif %}

            {% endfor %}
        </ul>

        <form action="/teams/new/{{ league.id }}">
            <input type="submit" value="Add a club to this league" class="button-style">
        </form>

        <table class="league-fixtures">
            <h2>Fixtures</h2>

            <tr class="table-top">
                <th>Home Team</th>
                <th>Score</th>
                <th>Away Team</th>
            </tr>
            {% for match in matches %}
                <tr class="matches">
                    <td>
                        {{
                            match.home_team.team_id.club.club_name
                        }}
                    </td>
                    <td> {{ match.home_team_score}} - {{ match.away_team_score }}  </td>
                    <td>
                        {{
                            match.away_team.team_id.club.club_name
                        }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <form action="/matches/new/{{ league.id }}">
            <input type="submit" value="Create new match" class="button-style">
        </form>

        <!-- <table> -->
            <!-- <h2>League Table</h2> -->
        <!-- </table> -->

    </div>

{% endblock content %}