{% extends 'base.html' %}
{% block content %}
    
    <h1 class="under-nav">Matches</h1>

    {% for league in league_matches %}

        <h2>{{ league.league_name }}</h2>

        <table>
            <h3>Fixtures</h3>
            <tr class="table-top">
                <th>Home Team</th>
                <th>Score</th>
                <th>Away Team</th>
            </tr>
            {% for match in league.matches %}
                <tr class="matches">
                    <td>
                        {{
                            match.home_team.team_id.club.club_name
                        }}
                        </td>
                    <td> {{ match.home_team_score}} - {{ match.away_team_score }}  </td>
                    <td>
                        {{
                            match.away_team.team_id.club.club_name
                        }}
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% endfor %}

{% endblock content %}