{% extends 'base.html' %}
{% block content %}
    
    <h1>Matches</h1>

    <ul>

        {% for match in matches %}
            
            <li>

                {% for team in teams %}
                    {% if team.id == match.home_team.team_id %}
                        {{ team.club.club_name }} - {{ match.home_team_score }}
                    {% endif %}
                    {% endfor %}

                    v

                    {% for team in teams %}
                    {% if team.id == match.away_team.team_id %}
                        {{ team.club.club_name }} - {{ match.away_team_score }}
                    {% endif %}
                {% endfor %}

                {{ match.league.league_name }}

                <form action="/matches/{{ match.id }}/delete" method="POST">
                    <input type="submit" value="delete" onclick="return confirm('Are you sure?')">
                </form>
            </li>

        {% endfor %}

    </ul>

    <form action="/matches/new">
        <input type="submit" value="Create new match">
    </form>

{% endblock content %}