{% extends 'base.html' %}
{% block content %}
    
    <h1>Add a new match</h1>

    <form action="/matches" method="POST">
        <div>
            <label for="home_team">Home team:</label>
            

            <label for="away_team">Away team:</label>


            <label for="home_team_score">Home team score:</label>


            <label for="away_team_score">Away team score:</label>


            <label for="league_id">League: </label>
            


        </div>
    </form>

{% endblock content %}