{% extends 'base.html' %}
{% block content %}
    
    <h1>Add a new {{ league.league_name }} match</h1>

    <form action="/matches/{{ league.id }}" method="POST">
        <div>
            <label for="home_team">Home team:</label>
            <select name="home_team" id="home_team">
                {% for team in teams %}
                    {% if team.club.club_name in clubs and team_type == team.team_name %}
                        <option value="{{ team.id }}">{{ team.club.club_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="away_team">Away team:</label>
            <select name="away_team" id="away_team">
                {% for team in teams %}
                    {% if team.club.club_name in clubs and team_type == team.team_name %}
                        <option {% if loop.index == 2 %}
                            selected
                        {% endif %} value="{{ team.id }}">{{ team.club.club_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="home_team_score">Home team score:</label>
            <input type="number" id="home_team_score" name="home_team_score">

            <label for="away_team_score">Away team score:</label>
            <input type="number" id="away_team_score" name="away_team_score">
            
            <input type="submit">

        </div>
    </form>

{% endblock content %}